<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/feed.css') }}">
    <title>Editar publicacion</title>
</head>
<body>
    <div class="div">
    <div class="container">
    <div class="modal">
    <div class="modal__header">
    <h1 class="titulo">Editar publicación</h1>

    <div class="modal__body">
      <div class="input">
<form action="{{ url_for('api.actualizar_publicacion', id=publicacion.id) }}" method="POST" enctype="multipart/form-data">
    <label class="input__label texto">Título:</label>
    <input type="text" name="titulo" value="{{ publicacion.titulo }}" required><br>
</div>


    <label class="input__label texto">Descripción:</label>
    <textarea name="descripcion" required>{{ publicacion.descripcion }}</textarea><br>

    <label class="input__label texto">Barrio:</label>
    <input type="text" name="barrio" value="{{ publicacion.barrio }}" required><br>

    <label class="input__label texto">Calle:</label>
    <input type="text" name="calle" value="{{ publicacion.calle }}" required><br>

    <label class="input__label texto">Ambientes:</label>
    <input type="number" name="ambientes" value="{{ publicacion.ambientes }}" required><br>

    <label class="input__label texto">Balcón:</label>
    <select name="balcon">
        <option value="1" {% if publicacion.balcon == 1 %}selected{% endif %}>Sí</option>
        <option value="0" {% if publicacion.balcon == 0 %}selected{% endif %}>No</option>
    </select><br>

    <label class="input__label texto">Precio:</label>
    <input type="number" name="precio" value="{{ publicacion.precio }}" required><br>

    <label class="input__label texto">Imágenes actuales:</label>
    <div class="galeria">
        {% for img in publicacion.imagenes %}
            <img src="{{ url_for('static', filename=img.split('static/')[1]) }}" alt="Imagen actual" class="imagen-propiedad">
        {% endfor %}
    </div><br>

    <label class="input__label texto">Agregar nuevas imágenes:</label>
    <input type="file" name="imagenes" multiple accept="image/*"><br>

    <button type="submit">💾 Guardar cambios</button>
</form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>