<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>UNLu-BNB</title>
</head>
<body>
    <h1>UNLu-BNB landing</h1>
    <button onclick="window.location.href='/signup'" class="btn-verde">
        Ir a Registro
    </button>
    <button onclick="window.location.href='/login'" class="btn-verde">
        Ir a Inicio de sesión
    </button>
</body>
</html>