<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>UNLu-BNB</title>
</head>
<body>
    <div class="container">
    <div class="div">
    <h1 class="titulo">UNLu-BNB</h1>
    <h3 class="titulo">Búsqueda de alojamiento accesible para estudiantes de la Universidad Nacional de Lujan</h3>
    <div class="centrar-botones">
    <button onclick="window.location.href='/signup'" class="btn-verde">
        Ir a Registro
    </button>
    <button onclick="window.location.href='/login'" class="btn-verde">
        Ir a Inicio de sesión
    </button>
    </div>
    </div>
    </div>
</body>
</html>