<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNLu-BNB</title>
</head>
<body>
    <h1>UNLu-BNB landing</h1>
    <button onclick="window.location.href='/signup'" style="
        padding: 10px 20px;
        background-color: #28A745;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    ">
        Ir a Registro
    </button>
        <button onclick="window.location.href='/login'" style="
        padding: 10px 20px;
        background-color: #28A745;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    ">
        Ir a Registro
    </button>
</body>
</html>