<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <title>Registrese</title>
</head>
<body>
    <div class="container">
    <div class="div">
    <h1 class="titulo">Crear cuenta</h1>
    <form id="signupForm" class="signupform">
        <label for="firstName" class="tag">Nombre:</label><br>
        <input type="text" id="firstName" name="firstName" class="input" required><br><br>

        <label for="lastName" class="tag">Apellido:</label><br>
        <input type="text" id="lastName" name="lastName" class="input" required><br><br>

        <label for="username" class="tag">Nombre de usuario:</label>
        <input type="text" id="username" name="username" class="input" required><br><br>

        <label for="password" class="tag">Contraseña</label>
        <input type="password" id="password" name="password" class="input" required><br><br>

        <label for="role" class="tag">Rol:</label>
        <select id="role" name="role" required>
            <option value="">Seleccionar</option>
            <option value="1">Estudiante</option>
            <option value="2">Propietario</option>
        </select><br>

        <br><button type="submit" class="submit">Registrarse</button>
    </form>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>
</html>
